.navbar {
  background-color: #c6202e; /* Kraus Anderson red */
  color: white;
  padding: 1rem 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar-logo-image {
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

.navbar-menu {
  display: flex;
  list-style: none;
}

.navbar-item {
  margin-left: 1.5rem;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #f1c6c8; /* Lighter version of Kraus Anderson red */
}

/* Removed btn-logout styles as we're now using navbar-link for logout */
